@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
    /*box-sizing: border-box;*/
}
body {
    background-color: #23252C;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: 317px;
    background-color: #1A1B21;
    margin: 50px auto;
    border: 10px solid none;
    border-radius: 10px;
}
/*Header section*/
header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}
header .info--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
    width: 317px;
    height: 317px;
}
header h1 {
    margin: 0.5em 0 0 0;
    color: white;
    font-size: 25px;
}
header p {
    margin: 0;
}
header .header--title {
    color: #F3BF99;
    font-size: 12px;
}
header .header--website {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    color: #F5F5F5;
    font-size: 10px;
}
header .header--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
header button {
    width: 115px;
    border-radius: 5px;
    border-width: 0;
    font-size: 12px;
    padding: 9px 13px 9px 11px;

}
header .header--envelope {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 0.5rem;
    background-color: #F5F5F5;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #161619;
}
header .header--envelope span  {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}
header .header--linkedin {
    background-color: #5093E2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 10px;
    border:1px solid #161619;
}
button-social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
header .header--icon {
    margin-right: 0.5em;
    font-size: 15px;
    text-decoration: none;
}
header span {
    margin-top: auto;
    margin-bottom: auto;
}

/*About section*/

section {
    margin: 1em 2.75em 0 2.75em;
}
.interests {
    margin:0 2.75em;
    margin-bottom: 2rem;
}
section h4 {
    font-weight: 600;
    margin-bottom: 0.25em;
    color: #F5F5F5;

}
section p {
    color: #DCDCDC;
    margin: 0;
    font-size: 10px;
}
footer {
    width: 100%;
    background-color: #161619;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer--icon {
    font-size: 25px;
    color: #918E9B;
    margin: 10px;

}