* {
    box-sizing: border-box;
}
body {
    background-color: #23252C;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: 317px;
    background-color: #1A1B21;
    margin: auto;
}
header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}
header .info--img {
    display: flex;
    width: 317px;
    height: 317px;
}
header h1 {
    margin: 0;
}
header p {
    margin: 0;
}